[project]
name = "logfilter-cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[project.scripts]
logfilter-cli = "logfilter_cli.cli:main"

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
